# Python
__pycache__/
*.py[cod]

# Virtual environments
gtenv/
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Animation output
route_animation.gif